.sec1 {
    background-image: url("../img/rt1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment:cover;
    background-position: center;
    min-height: 100vh;  
}

.sec2 {
    background-image: url("../img/rt2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: cover;
    background-position: center;
    min-height: 100vh;
}

.sec3 {
    background-image: url("../img/rt3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: cover;
    background-position: center;
    min-height: 100vh;
}

.sec4 {
    background-image: url("../img/rt4.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: cover;
    background-position: center;
    min-height: 100vh;
}

.sec5 {
    background-image: url("../img/rt5.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: cover;
    background-position: center;
    min-height: 100vh;
}

.sec6{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.text-box {
    background-color: rgba(12, 11, 11, 0.685);
    color: seashell;
    padding: 10%;
}